<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule" stopProcessing="true">
          <match url="api/(.*)" />
          <action type="Rewrite" url="http://cent-5-534.uopnet.plymouth.ac.uk/COMP2001/ MIraqi" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>